# Unreal Engine specific
Binaries/
Intermediate/
DerivedDataCache/
.vs/
.vscode/
*.tmp
*.temp
*.VC.db
*.opensdf
*.opendb
*.sdf
*.cachefile
*.VC.VC.opendb

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

Saved/
*.sln
.idea/